#title {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 50px;
}

body {
  background-image: url('Design\ sem\ nome\ \(1\).png');
  font-size:x-large;
  color: white;
  font-family: 'Lobster', cursive;
}

.color {
  box-shadow: 3px 3px 3px #ffffff;
  border-radius: 100%;
  margin: 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

#top-container {
  text-align: center;
}

#color-palette,
#button-random-color {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

#clear-board {
  text-align: center;
  margin-bottom: 15px;
}

#clear-board .board-size {
  display: inline-block;
  margin-right: 60px;
}

#pixel-board {
  text-align: center;
}

#top-container {
  text-align: center;
}

#color-palette,
#button-random-color {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.pixel {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}

#board-size {
  margin: auto;
  text-align: justify;
  width: 70px;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
