#title {
  margin-bottom: 30px;
  text-align: center;
}

.color {
  border-radius: 100%;
  margin: 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

body {
  font-size:x-large;
  background-color: rgb(220, 199, 140);
  font-family: 'Lobster', cursive;
}

#title {
  text-align: center;
}

.color {
  border-radius: 100%;
  margin: 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

#top-container {
  text-align: center;
}

#color-palette, #button-random-color {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

#clear-board {
  text-align: center;
  margin-bottom: 15px;
}

#clear-board .board-size {
  display: inline-block;
  margin-right: 60px;
}

#pixel-board {
  margin-bottom: 100px;
  text-align: center;
}

.pixel {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

#title {
  margin-top: 50px;
}

#top-container {
  text-align: center;
}

#color-palette,
#button-random-color {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

#clear-board {
  text-align: center;
  margin-bottom: 15px;
}

#clear-board .board-size {
  display: inline-block;
  margin-right: 60px;
}

#pixel-board {
  text-align: center;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}

#title {
  margin-top: 50px;
}

#board-size {
  margin: auto;
  text-align: justify;
  width: 210px;
}

